.App {
    text-align: center;
    background-image: url("./assets/img/map-image.png");
    background-color: #2edfd6;
    display: flex;
    background-position: center center;
    position: fixed;
    background-size: cover;

    min-height: 100%;
    min-width: 100%;

    flex-direction: column;
    justify-content: center;
}

.container {
    padding-top: 1%;
}
.avatar {
    padding-left: 40%;
    padding-right: 50%;
    padding-bottom: 2%;
}

.color {
    color: #303f9f !important;
}

.color-circle {
    background: rgb(255, 255, 255, 0.4) !important;
    width: 190% !important;
    height: 67px !important;
}

.tipography {
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 1%;
    width: 70%;
}

.form-item {
    margin-bottom: 5%;
}

/* .graphic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-bottom: 62.5%;
}

.graphic-item {
    position: absolute;
    width: 100%;
    height: 100%;
} */

/* @media (max-width: 430px) {
    .graphic-item {
        height: 300px;
        width: 400px;
    }
} */
