.App {
    text-align: center;
    background: linear-gradient(rgba(201, 136, 136, 0.4), rgba(255, 255, 255, .4)), url("./assets/img/social_distancing_2g0u.svg");
    background-color: #cffffe;
    background-repeat: repeat-x;
    display: flex;
    background-position: 100% 100%;
    position: absolute;
    background-size: 47%;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    margin: 0% 25% 0%;
    padding-top: 1%;
}

.avatar {
    padding-left: 47%;
    padding-bottom: 1%;
}

.color {
    color: #303f9f !important;
}

.color-circle {
    background: rgb(255, 255, 255, 0.4) !important;
    padding: 6% !important;
}

.tipography {
    margin-bottom: 1%;
}

form {
    width: 35%;
    margin: 0% 33% 0%;
}

.form-item {
    margin-bottom: 2%;
}

@media (max-width: 490px) {
    form {
        width: 50%;
        margin: 0% 25% 0%;
    }
    .color-circle {
        padding: 13% !important;
    }
    .avatar {
        padding-left: 42%;
    }
}

@media (min-width: 491px) and (max-width: 1100px) {
    form {
        width: 35%;
        margin: 0% 32% 0%;
    }
    .color-circle {
        padding: 6% !important;
    }
    .avatar {
        padding-left: 46%;
    }
}